# .env.example

# =============================
# Required for both modes
# =============================

# Hugging Face token
# Create one here: https://huggingface.co/settings/tokens
HF_TOKEN=hf_...

# Roboto token 
# Create one here: https://app.roboto.ai/settings/tokens
ROBOTO_API_KEY=roboto_pat_... # Optional if you already have: `~/.roboto/config.json`
ROBOTO_ORG_ID=og_...          # Optional if you're just in 1 org

# =============================
# Required for import mode only
# =============================

# S3 bucket to mirror HF dataset to
S3_BUCKET=your-s3-bucket
S3_PREFIX=hf-mirror           # Optional, defaults to 'hf-mirror'

# Read/write credentials to S3 bucket
AWS_ACCESS_KEY=...
AWS_SECRET_KEY=...

# Optional session token (if using temporary credentials)
AWS_SESSION_TOKEN=...